{% extends 'template.html.twig' %}
{% block pagetitle %}
    page d'acceuil
{% endblock %}

{% block body %}
    <h1>Hello word</h1>
    <h3>{{content}}</h3>
    <a href="{{url('app_todo')}}">{{url('app_todo')}}</a>
{% endblock %}
{% block title %}
    page d'acceuil
{% endblock %}