{% extends 'template.html.twig' %}

{% block body %}
    <ol class="list-group" >
        {% for name,content in app.session.get('todos') %}
                <li class="list-group-item">
                    {{name}} : <strong>{{content}}</strong>
                </li>
        {% endfor %}
    </ol><br>
    <h4>la liste des todos contient <strong>{{app.session.get('todos')|length}}</strong> élément</h4>
{% endblock %}

{% block pagetitle %}
    Listes des todos
{% endblock %}

{% block title %}
    page todo
{% endblock %}