{% extends 'heritage.html.twig' %}

{% block titre %}
    premier enfant
{% endblock %}

{% block contenu %}
    <ol>
        <li>félicitation à vous</li>
        <li>vous venez de faire de l'héritage</li>
    </ol>
{% endblock %}
